<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <%- include('../partials/navbar') %>
    <h1><%= dealer.dealerId.dealerName %> Account Details</h1>
    </header>
    <main>
        <section>
        <p>Phone Number: <%= dealer.dealerId.phoneNumber %></p>
        <p>Email: <%= dealer.dealerId.email %></p>
        <p>Dealership City: <%= dealer.dealerId.city %></p>
        <p>Dealership Address: <%= dealer.dealerId.address %></p>  
        </section>

        <section>
            <form action="/dealer/<%= dealer.dealerId._id %>/edit" method="get">
                <button>Edit Car Information</button>
            </form>
        </section>
    </main>
</body>
</html>