<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <%- include('./partials/navbar') %>
    <h1 id="welcomeTitle">Welcome to All Lexus</h1>
    <p id="subTitle">Find your perfect Lexus, new or used, all in one place!</p>
    </header>
    <main>
        <section>
            <div class="cars">
                <% for(let oneCar of car){ %>
                    <div class="carCard">
               <img class="carImage" src="/uploads/<%= oneCar.carImage %>" alt="<%= oneCar.model %>">
               <p class="carModel">Car Model: Lexus <%= oneCar.model %></p>
               <p class="carDealer">Car Dealer: <%= oneCar.dealer?.dealerName || 'Unknown dealer' %> </p>
               <a class="carDetails" href="/lexusCar/<%= oneCar._id %>">Lexus Details</a>
            </div>
           <% } %>
                
            </div>
            
        </section>
    </main>


</body>
</html>