<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <head>
        <%- include('./partials/navbar') %>
    <h1 id="welcomeTitle">Welcome to All Lexus</h1>
    <p id="subTitle">Find your perfect Lexus, new or used, all in one place!</p>
    </head>
    <main>
        <section class="cars">
            <% for(let oneCar of car){ %>
               <img src="/uploads/<%= oneCar.carImage %>" alt="<%= oneCar.model %>">
               <p>Car Model: Lexus<%= oneCar.model %></p>
               <p>Car Dealer: <%= oneCar.dealer?.dealerName || 'Unknown dealer' %> </p>
               <a href="/lexusCar/<%= oneCar._id %>">View Lexus Details</a>
           <% } %>
        </section>
    </main>


</body>
</html>