<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Lexus Car Information</title>
</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
            <h1>Edit Lexus <%= car.model %> Information</h1>
    </header>
    <main>
        <section>

            <form action="/lexusCar/<%= car._id %>/edit?_method=PUT" method="post" enctype="multipart/form-data">
                <label for="model">Car Model: </label>
                <input value="<%= car.model %>" id="model" name="model" type="text">

                <label for="condition">Car Condition: </label>
                <select name="condition" id="condition">
                    <option value="New" <%=car.condition==='New' ? 'selected' : '' %>>New</option>
                    <option value="Used" <%=car.condition==='Used' ? 'selected' : '' %>>Used</option>
                </select>

                <label for="type">Car Type: </label>
                <input value="<%= car.type %>" id="type" name="type" type="text">


                <label for="mileage">Mileage: </label>
                <input value="<%= car.mileage %>" id="mileage" name="mileage" type="number">


                <label for="fuelType">Fuel Type: </label>
                <input value="<%= car.fuelType %>" id="fuelType" name="fuelType" type="text">


                <label for="transmission">Transmission: </label>
                <input value="<%= car.transmission %>" id="transmission" name="transmission" type="text">


                <label for="engine">Car Engine: </label>
                <input value="<%= car.engine %>" id="engine" name="engine" type="text">


                <label for="horsepower">horse Power: </label>
                <input value="<%= car.horsepower %>" id="horsepower" name="horsepower" type="number">

                <label for="carImage">Insert Car Image: </label>
                <% if (car.carImage) { %>
                    <img src="/uploads/<%= car.carImage %>" alt="<%= car.model %>">
                    <p>Current image (upload a new one below only if you want to replace it)</p>
                    <% } %>
                        <input id="carImage" name="carImage" type="file" accept="image/*">

                        <button type="submit">Edit Car Information</button>
            </form>
        </section>
    </main>
</body>

</html>