<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexues Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
            <h1>Lexues <%= car.model %>
            </h1>
            <h2>
                <%= car.dealer?.dealerName || 'Unknown dealer' %> Dealership
            </h2>
    </header>
    <main>
        <section>
            <img src="/uploads/<%= car.carImage %>" alt="<%= car.model %>">
            <section id="carInfo">
            <p>Car Condition:  <%= car.condition %>
            </p>
            <p>Car Type:    <%= car.type %>
            </p>
            <p>Car Fuel Type:  <%= car.fuelType %>
            </p>
            <p>Car Transmission:  <%= car.transmission %>
            </p>
            <p>Car Engine:  <%= car.engine %>
            </p>
            <p>Car Horsepower: <%= car.horsepower %>
            </p>
            <p>Car Status: <%= car.status %>
            </p>
            </section>
            
        </section>


        <% if (user && user.isdealer && car.dealer && String(user.isdealer)===String(car.dealer._id)) { %>
        <section>
                <form action="/lexusCar/<%= car._id %>/edit?_method=put" method="get">
                    <button>Edit Car Information</button>
                </form>
                <form action="/lexusCar/<%= car._id %>?_method=delete" method="post">
                    <button>Delete Car</button>
                </form>
            </section>
            <% } %>

            <% if (user && !user.isdealer ) { %>
            <section>
            <form action="/wishlist/<%= car._id %>" method="post">
                <button>Add to Wishlist</button>
            </form>
        </section>
        <% } %> 
        

        <% if (user && !user.isdealer ) { %>
        <section>
                <form action="/testDrive/<%= car._id %>" method="get">
                    <button>Book Test Drive</button>
                </form>
        </section>
        <% } %>

        <% if (user && !user.isdealer ) { %>
        <section class="sign">
                <form action="/lexusCar/<%=car._id%>/review" method="post">
                    
                    <label for="rating">Rating: </label>
                    
                    <div id="ratingIcon">
                        <span class="star" data-value="1">★</span>
                        <span class="star" data-value="2">★</span>
                        <span class="star" data-value="3">★</span>
                        <span class="star" data-value="4">★</span>
                        <span class="star" data-value="5">★</span>
                    </div>
                    
                    <input hidden id="ratingInput" name="rating" type="number" value="0">
                    
                    <label for="reviewComment">Comment: </label>
                    <input name="reviewComment" id="reviewComment" type="text">
                    
                    <button>Add Review</button>
                </form>
            </section>
            <% } %>
            
            <section class="sign">
            <h2>Reviews</h2>

            <% if(review && review.length> 0){ %>
                <% for (let oneReview of review) {%>
                    <p>
                        <%= oneReview.user.username %>
                    </p>
                    <% if (oneReview.rating===1) { %>
                        <p>⭐</p>
                        <% } else if (oneReview.rating === 2) { %>
                        <p>⭐⭐</p>
                        <% } else if (oneReview.rating === 3) { %>
                        <p>⭐⭐⭐</p>
                        <% } else if (oneReview.rating === 4) { %>
                        <p>⭐⭐⭐⭐</p>
                        <% } else if (oneReview.rating === 5) { %>
                        <p>⭐⭐⭐⭐⭐</p>
                        <% } else { %>
                        <p>No Rating!</p>
                        <% } %>

                        <p> <%= oneReview.reviewComment %> </p>
        
                        <% if(user && oneReview.user && user._id.toString()===oneReview.user._id.toString()){ %>
                            </form>
                            <form action="/lexusCar/<%= car._id %>/<%= oneReview._id %>/deleteReview?_method=DELETE" method="post">
                                <button>Delete Review</button>
                            </form>
                            <% } %>
                        
                                <% } }else{ %>
                                    <p>No Reviews Yet!</p>
                        <% } %>
        </section>

    </main>

    <script>
        const ratingIcon = document.querySelectorAll('.star')
        const ratingInput = document.querySelector('#ratingInput')

        ratingIcon.forEach((icon) => {
            icon.addEventListener('click', () => {
                const currentValue = Number(icon.dataset.value)
                ratingInput.value = currentValue
                console.log(currentValue)

                ratingIcon.forEach((icon) => {
                    if (Number(icon.dataset.value) <= currentValue) {
                        icon.classList.add('active')
                    } else if (Number(icon.dataset.value) >= currentValue) {
                        icon.classList.remove('active')
                    }
                })
            })
        })
    </script>
</body>

</html>